:root{
    background-color: #00A441;
}
ion-card{
    background-color: #00A441;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#termometro {
    height: 100%;
  }
.indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-content: center;
    color: #ffff;
}